@page "/employeeoverview"
@using BlazorHRM.Shared.Domain
@using BlazorHRM.App.Services

<h2>Employee Overview</h2>

@if (Employees is null)
{
    <p>Loading...</p>
}
else
{
    <QuickViewPopup Employee="_selectedEmployee" />
    <div class="row">
        @foreach (var empl in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="empl"  EmployeeQuickViewClicked="HandleEmployeeQuickViewClicked" />
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI text-center">Invalid Employee</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}

@code {
    public List<Employee>? Employees { get; set; } = default!;
    private Employee? _selectedEmployee;

    protected override void OnInitialized()
    {
        Employees = MockDataService.Employees;
    }

    public void HandleEmployeeQuickViewClicked(Employee selectedEmployee)
    {
        _selectedEmployee = selectedEmployee;
    }
}