@page "/employeeoverview"
@using BlazorHRM.Shared.Domain
@using BlazorHRM.App.Services

<h2>Employee Overview</h2>

@if (Employees is null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @foreach (var empl in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <EmployeeCard Employee="empl" />
            </div>
        }
    </div>
}

@code {
    public List<Employee>? Employees { get; set; } = default!;

    protected override void OnInitialized()
    {
        Employees = MockDataService.Employees;
    }

}